* { box-sizing: border-box; }

body {
	background-color: #76BCFF;
	color: #34495e;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 51px;
	background-color: #fffeea;
	height: 100%;
}

.header h1{
	text-align: center;
}

.column {
	width: 30%;
	display: inline-block;
	float: left;
}

.intro {
	margin-left: 40px;
}

.image {
	display: inline-block;
}

.myimage {
	width: 80%;
	padding-left: 20px;
}

.main-text {
	clear: both;
	padding-top: 60px;
}

.header {
	margin-top: 40px;
}

#skill-list {
	margin-left: 140px;
}



.skills {
	background-color: #5AD4C2;
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.nav {
	background-color: #fffeea;
	position: fixed;
	width: 100%;
	top: 0;
}

.nav ul {
	text-align: center;
	/* float: right; */
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 20px 10px 20px;
	text-decoration: none;
}

.nav a:hover {
	color: blue;
	text-decoration: none;
}

/*Typography*/

.intro p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
	-webkit-margin-before: 0;
}

.skills h3{
	text-align: center;
	text-transform: uppercase;
}











