* { box-sizing: border-box; }

html, body {
	height: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
}

body {
	background-color: #76BCFF;
}

.nav {
	background-color: #fffeea;
	position: fixed;
	width: 100%;
	top: 0;
}

.nav ul {
	text-align: center;
	/* float: right; */
}

.nav ul li {
	display: inline-block;
	padding-top: 10px;
}

.nav ul li a {
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 20px 10px 20px;
	text-decoration: none;
}

.nav a:hover {
	color: blue;
	text-decoration: none;
}

.jumbotron {
	text-align: center;
	margin-bottom: -20px;
	padding-top: 1px;
}

.jumbotron h1 {
	margin-bottom: 5px;
}

.jumbotron {
	background-color: #fffeea;
	color: black;
}

.main {
	background-color: #fffeea;
	height: 100%;
	text-align: center;
}

.intro h1 {
	padding-top: -10px;
	/*font-size: 40pt;*/
}

.intro img {
	width: 104px;
	height: 104px;
	margin-right: 20px;
	margin-left: 20px;
}

.intro p {
	width: 40%;
	margin: 0 auto;
	font-size: 15pt;
	margin-bottom: 30px;
}

.sig {
	width: 40%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

.sig p {
	font-size: 15pt;
}

